<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
Redirect 301 /index.html http://правовой-центр-москвы.рф/
Redirect 301 /кадастровая-палата/ http://кадастровая-палата.правовой-центр-москвы.рф/

</IfModule>